.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    border: 1px solid rgb(20, 20, 20);
    margin-top: 1rem;
    padding: 1rem 10%;
    border-radius: 2rem;
    border: none;
}