<div class="container ">
  <form class="form mat-elevation-z8">
    <h1>Hep Desk - Dev MSP</h1>
    <img src="assets/img/login-image.svg" alt="Hep Desk - Dev MSP">
    <mat-form-field class="full-width">
      <mat-label>E-mail</mat-label>
      <input  [formControl]="email" required [(ngModel)] = "creds.email" name="email" 
      type="email" matInput placeholder="Ex. fulano@gmail.com">
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Senha</mat-label>
      <input [formControl]="senha" required [(ngModel)] = "creds.senha" name="senha" 
      type="password" matInput placeholder="Ex. 13@d">
    </mat-form-field>

    <button (click)="logar()" [disabled]="!validaCampos()" class="full-width mat-elevation-z8" mat-button color="primary">Login</button>

  </form>
</div>